* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: system-ui;
}
html {
  background: url(../public/images/4897726.jpg) no-repeat center fixed;
  background-size: cover;
}
.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
}
.header img {
  width: 80%;
}
#input {
  border-style: solid;
  border-color: #759004;
  border-radius: 100px;
  padding: 15px 70px;
  outline: none;
}
.search {
  transition: all 0.2s;
}
.search:hover {
  /* transform: scale(1.1); */
  /* filter: drop-shadow(2px 3px 3px #759004); */
}
audio {
  color: #759004;
}
.btn {
  background-color: rgba(0, 0, 0, 0);
}
audio {
  height: 40px;
  transition: all 0.2s;
}
audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
}
audio::-webkit-media-controls-play-button {
  background-color: #759004;
  border-radius: 100%;
}
#hakuna-search {
  position: absolute;
}
.auto-option {
  /* position: absolute; */
  display: block;
}
.result-img {
  width: 70%;
  border-radius: 30px;
}
.search-output {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}