* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  background: url(../public/images/4897726.jpg) no-repeat center fixed;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: center;
  margin: 40px 0px 20px 0px;
}
.header img {
  width: 50%;
}
#input {
  border-style: solid;
  border-color: #759004;
  border-radius: 100px;
  padding: 15px 70px;
  margin: 30px 0px;
}
.search {
  transition: all 0.2s;
}
.search:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #759004);
}
audio {
  color: #759004;
}
.btn {
  background-color: rgba(0, 0, 0, 0);
}
audio{
    transition: all 0.2s;
}
audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
}
audio::-webkit-media-controls-play-button {
  background-color: #759004;
  border-radius: 100%;
}
 
/* audio::-webkit-media-controls-panel {
  background-color:transparent; 
 opacity: 0;
   
} */

/* audio::-webkit-media-controls-timeline,audio::-webkit-media-controls-panel
,audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display

{
    display: none;
} */
